@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
	color: white;
}
:root{
	--amarillo: #f8e617;
	--titulo: 2.3rem;
	--texto: 1.5rem;
	--espaciado: 2.2rem;
	--difuminado: rgba(0, 0, 0, 0.575);
}
img{
	max-width: 100%;
}
main{
	width: 85%;
	margin: auto;
}
.container{
	width: 95%;
	margin: auto;
}
.show-menu img{
    max-height: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
header ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Crea la listahorizontal con espacio*/
header li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f8e617;
	background: rgb(0, 0, 0);
	text-decoration: none;
  	transition:all 0.5s ease;
}

/* estados hover de los link */
li:hover a {
	background: #5e62207c;
}

/* estilos del dropdown */
li:hover ul a {
	background: #f3f3f3;
	color: white;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #19c589;
	color: black;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
body{
    background-image: url(./img/Star-wars-logo-new-tall.webp);
    background-position: center center;
    background-size: cover;
	background-attachment: fixed;
    height: 100vh;
}
section.vacia{
	height: 100vh;
}
section#introduccion{
	backdrop-filter: blur(2px) saturate(100%);
	border-bottom: #bdb7b7 2px;
}
.inicio{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.575);
}
.bienvenida{
	width: 55%;
	font-size: 1.5rem;
	line-height: 2.2rem;
}
.introh1 h1{
	color: var(--amarillo);
	font-size: 2.3rem;
	text-align: center;
	margin-bottom: 5%;
	text-shadow: white 1px 0 1px;
}
.bienvenida ul{
	margin-left: 5%;
	font-size: 1.3rem;
	margin-bottom: 5%;
}
.bienvenida ul li{
	color: rgb(211, 209, 209);
}
#pamarillo{
	color: #f8e617;
	margin-top: 5%;
}
.bienvenidaimagen{
	width: 43%;
	border-radius: 20px;
	-webkit-filter: drop-shadow(15px 15px 15px #bdb7b7);
    filter: drop-shadow(0px 0px 5px #bdb7b7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.bienvenidaimagen img{
	border-radius: 20px;
}
.georgelucas{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	width: 100%;
}
.blurimg{
	border-radius: 20px;
	-webkit-filter: drop-shadow(15px 15px 15px #bdb7b7);
    filter: drop-shadow(0px 0px 5px #bdb7b7);
}
section#descubre h2{
	color: var(--amarillo);
	text-align: center;
	margin-top: 5rem;
	font-size: var(--titulo);
	background-color: black;
}
section#descubre p{
	font-size: 1.7rem;
	line-height: 2.4rem;
	margin-top: 5rem;
	text-align: center;
}

.blurtexto{
	backdrop-filter: blur(2px) saturate(100%);
}
.biografia{
	background-color: rgba(0, 0, 0, 0.575);
}
.revan{
	margin-top: 10rem;
	width: 90%;
	
}
.historiatext>p{
	background-color: rgba(0, 0, 0, 0.575);
	text-align: center;
}
section#historia h2{
	color: red;
	font-size: var(--titulo);
	display: inline;
	background-color: black;
}
.h2conflicto{
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
}
section#historia p{
	font-size: var(--texto);
	line-height: 2.4rem;
}
.rakata{
	width: 50%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.arepublica{
	display: flex;
	justify-content: space-evenly;
}
.arepublica p{
	width: 60%;
	background-color: rgba(0, 0, 0, 0.575);
	display: flex;
	justify-content: center;
	align-items: center;
}
.sithsantiguos{
	display: flex;
	flex-wrap: wrap;
	width: 40%;
}
#revanmalak img{
	width: 90%;
}
#vitiatebane img{
	width: 45%;
}
#vitiatebane{
	display: flex;
}
.guerrasclon{
	display: flex;
	margin-top: 5rem;
}
.guerrasclon p{
	background-color: rgba(0, 0, 0, 0.575);
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
}
.arebelde{
	width: 60%;
}
section#explora{
	margin-top: 10rem;
}
.explorah2{
	margin-bottom: 5rem;
	text-align: center;
}
.explorah2 h2{
	color: whitesmoke;
	font-size: var(--titulo);
	display: inline;
	background-color: black
}
.accesodirecto{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
.accesodirecto>div{
	width: 20%;
}
.accesodirecto h3{
	font-size: 2rem;
}
.accesodirecto img{
	transition: transform 0.3s ease-in-out;
}
.accesodirecto img:hover{
	transform: scale(1.1);
}
footer{
	text-align: center;
	background-color: black;
	margin-top: 10%;
}
.redes > div > a{
	width: 1.5rem;
}
.redes > div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	margin: auto;
	margin-bottom: 1rem;
}
.redes h4{
	font-size: 1.3rem;
	margin-bottom: 1rem;
}
.terminos{
	width: 60%;
	margin: 1% auto;
	display: flex;
	justify-content: space-around;
}
.caratulas h1{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	margin-bottom: 5%;
	background-color: var(--difuminado);
}
.poriginales{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--difuminado);
}
.poriginales div{
	width: 25%;
	height: 35%;
	object-fit: cover;
	cursor: pointer;
	transition: opacity 0.6s ease;
}
.caratulas:hover > :not(:hover){
	opacity: 0.5s;
}
.poriginales div img{
	display: block;
}
.poriginales div h3{
	font-size: var(--texto);
	text-align: center;
	margin-top: 3%;
}
.caratulas p{
	font-size: var(--texto);
	background-color: black;
	text-align: center;
	margin-top: 5%;
	line-height: var(--espaciado);
}
.caratulas h2{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	margin: 5% 5%;
	background-color: var(--difuminado);
}
.pjprin{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--difuminado);
}
.pjprin h3{
	font-size: var(--texto);
	text-align: center;
	margin-top: 3%;
}
.person{
	width: 23%;
}
.person img{
	width: 100%;
}
.caratulas h3{
	background-color: black;
}
.seriescarteles{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.seriescarteles img{
	width: 29%;
	margin-bottom: 2%;
}
.juegos{
	background-color: rgb(0, 0, 0);
}
.juegos h1{
	color: var(--amarillo);
	font-size: var(--titulo);
	margin-top: 2%;
	text-align: center;
}
.kayvess{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
	align-items: center;
}
.kayvess p{
	width: 70%;
	font-size: 2.2rem;
}
.kayportada{
	width: 30%;
}
.comprar{
	margin-top: 5%;
	background-color: black;
}
.comprar h2{
	font-size: 1rem;
	text-align: center;
}
.plataformas{
	width: 25%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.survivorimg{
	margin-top: 5%;
}
#jedisurvivor h2{
	color: var(--amarillo);
	font-size: var(--titulo);
	margin-top: 2%;
	text-align: center;
}
.caljuegos{
	display: flex;
	justify-content: space-around;
}
.caljuegos img{
	width: 40%;
	margin: auto;
}
.comprar h3{
	text-align: center;
}
section#otros h2{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	background-color: var(--difuminado);
	margin-top: 5%;
}
.listajuegos{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: var(--difuminado);
}
.listajuegos img{
	width: 40%;
	margin-top: 2%;
}
section#libros h2{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	background-color: var(--difuminado);
	margin: 5% 5%;
}
.libros{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: black;
}
.libros img{
	width: 30%;
	margin-bottom: 2%;
}
section#especiales{
	background-color: rgba(0, 0, 0, 0.863);
}
section#especiales h1{
	color: var(--amarillo);
	font-size: var(--titulo);
	margin-top: 2%;
	text-align: center;
	margin-bottom: 3%;
}
.merchesp{
	display: flex;
	justify-content: space-evenly;
}
.merchuno{
	width: 50%;
}
.merchimg{
	width: 80%;
}
.merchuno h3{
	text-align: center;
	margin: 2% 2%;
}
.merchuno h4{
	color: var(--amarillo)
}
.boton{
	padding: 1%;
	background-color: rgb(68, 3, 3);
	text-decoration: none;
	border: 1px solid whitesmoke;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 5%;
}
section#legos h2{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	margin: 5% 5%;
}
section#legos{
	background-color: rgba(27, 27, 27, 0.938);
}
.legos{
	display: flex;
	justify-content: space-between;
}
.item{
	width: 48%;
}
.itemimg{
	width: 90%;
}
.item h3{
	text-align: center;
}
.item h4{
	margin-bottom: 2%;
	color: var(--amarillo);
	margin: 3% 3%;
}
section#funkos h2{
	font-size: var(--titulo);
	color: var(--amarillo);
	text-align: center;
	margin: 5% 5%;
}
section#funkos{
	background-color: rgba(27, 27, 27, 0.938);
}





/* estilos responsive */
/* resoluciones a cumplir: 1200px / 992 / 768 / 576*/

@media screen and (max-width: 1200px){
	.inicio{
		width: 100%;
		flex-wrap: wrap;
	}
	.bienvenida{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.preparate{
		width: 50%;
	}
	.bienh2{
		width: 50%;
	}
	.bienvenidaimagen{
		width: 65%;
		margin: auto;
		margin-top: 5%;
	}
	.kayvess{
		flex-wrap: wrap;
	}
	.kayvess p{
		width: 100%;
		text-align: center;
	}
	.kayportada{
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.kayportada img{
		width: 50%;
	}
	.caljuegos{
		display: flex;
		justify-content: space-around;
	}
	.caljuegos img{
		width: 51%;
	}
	.listajuegos img{
		width: 47%;
	}
}
@media screen and (max-width: 992px){
	.preparate{
		width: 100%;
	}
	.bienh2{
		width: 100%;
	}
	.arepublica{
		flex-wrap: wrap;
	}
	.arepublica p{
		width: 100%;
	}
	.sithsantiguos{
		width: 63%;
	}
	#revanmalak{
		width: 100%;
		text-align: center;
	}
	#vitiatebane{
		justify-content: space-between;
	}
	.guerrasclon{
		flex-wrap: wrap;
	}
	.arebelde{
		width: 80%;
		margin: auto;
	}
	.guerrasclon > p{
		width: 100%;
		text-align: center;
	}
	.accesodirecto{
		flex-wrap: wrap;
	}
	.accesodirecto > div{
		width: 30%;
	}
	.poriginales div{
		width: 34%;
	}
	.poriginales{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.pjprin{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.pjprin h3{
		text-align: left;
	}
	.person{
		width: 28%;
	}
	.kayvess p{
		font-size: 1.6rem;
	}
	.listajuegos img{
		width: 50%;
	}
	
}

@media screen and (max-width : 768px){
	/*Hace que el dropdown links aparescan en linea */
	ul {
		position: static;
		display: none;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links  ancho full */
	ul li, li a {
		width: 100%;
	}
	/*Display '.muestra-menu' link*/
	.show-menu {
		display:block;
	}
    header{
        display: block;
        text-align: center;
        position: sticky;
        top:0;
    }
	.bienvenidaimagen{
		width: 80%;
	}
	.rakata{
		width: 66%;
	}
	.sithsantiguos{
		width: 79%;
	}
	#vitiatebane{
		display: flex;
		flex-wrap: wrap;
	}
	#vitiatebane img{
		width: 50%;
	}
	.arepublica p{
		font-size: 2.2rem;
	}
	.arebelde{
		width: 100%;
		margin-bottom: 5%;
	}
	
	.accesodirecto > div{
		width: 57%;
	}
	.accesodirecto > div > h3{
		margin: 5% 5%;
	}
	.poriginales div{
		width: 40%;
	}
	.person{
		width: 43%;
	}
	.pjprin{
		justify-content: space-evenly;
	}
	.seriescarteles{
		flex-wrap: wrap;
	}
	.seriescarteles img{
		width: 42%;
	}
	.listajuegos img{
		width: 86%;
	}
	.libros img{
		width: 46%;
	}
	.caljuegos{
		flex-wrap: wrap;
	}
	.caljuegos img{
		width: 80%;
	}
}
@media screen and (max-width: 576px){
	.bienvenidaimagen{
		width: 100%;
	}
	.georgelucas{
		width: 100%;
	}
	.revan{
		width: 100%;
	}
	.rakata{
		width: 100%;
	}
	.sithsantiguos{
		flex-wrap: wrap;
	}
	#vitiatebane{
		width: 100%;
	}
	#vitiatebane img{
		width: 47%;
	}
	.poriginales div{
		width: 69%;
	}
	.person{
		width: 50%;
	}
	.seriescarteles img{
		width: 50%;
	}
	.kayportada img{
		width: 80%;
	}
	.caljuegos img{
		width: 100%;
	}
	.listajuegos img{
		width: 100%;
	}
	.libros{
		justify-content: space-around;
	}
	.libros img{
		width: 75%;
	}
}

	




