@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
	color: white;
}
:root{
	--amarillo: #f8e617;
	--titulo: 2.3rem;
	--texto: 1.5rem;
	--espaciado: 2.2rem;
}
img{
	max-width: 100%;
}
main{
	width: 85%;
	margin: auto;
}
.container{
	width: 95%;
	margin: auto;
}
.show-menu img{
    max-height: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
header ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Crea la listahorizontal con espacio*/
header li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f8e617;
	background: rgb(0, 0, 0);
	text-decoration: none;
  	transition:all 0.5s ease;
}

/* estados hover de los link */
li:hover a {
	background: #5e62207c;
}

/* estilos del dropdown */
li:hover ul a {
	background: #f3f3f3;
	color: white;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #19c589;
	color: black;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/* estilos responsive */

@media screen and (max-width : 768px){
	/*Hace que el dropdown links aparescan en linea */
	ul {
		position: static;
		display: none;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links  ancho full */
	ul li, li a {
		width: 100%;
	}
	/*Display '.muestra-menu' link*/
	.show-menu {
		display:block;
	}
    header{
        display: block;
        text-align: center;
        position: sticky;
        top:0;
    }

}
body{
    background-image: url(./img/Star-wars-logo-new-tall.webp);
    background-position: center center;
    background-size: cover;
	background-attachment: fixed;
    height: 100vh;
}
section#vacia{
	height: 100vh;
}
section#introduccion{
	backdrop-filter: blur(2px) saturate(100%);
	border-bottom: #bdb7b7 2px;
}
.inicio{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: black;
}
.bienvenida{
	width: 55%;
	font-size: 1.5rem;
	line-height: 2.2rem;
}
.bienvenida h1{
	color: var(--amarillo);
	font-size: 2.3rem;
	text-align: center;
	margin-bottom: 5%;
}
.bienvenida ul{
	margin-left: 5%;
	font-size: 1.3rem;
	margin-bottom: 5%;
}
.bienvenida ul li{
	color: rgb(211, 209, 209);
}
#pamarillo{
	color: #f8e617;
	margin-top: 5%;
}
.bienvenidaimagen{
	width: 43%;
	border-radius: 20px;
	-webkit-filter: drop-shadow(15px 15px 15px #bdb7b7);
    filter: drop-shadow(0px 0px 5px #bdb7b7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.bienvenidaimagen img{
	border-radius: 20px;
}
.georgelucas{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	width: 100%;
}
.blurimg{
	border-radius: 20px;
	-webkit-filter: drop-shadow(15px 15px 15px #bdb7b7);
    filter: drop-shadow(0px 0px 5px #bdb7b7);
}
section#descubre h2{
	color: var(--amarillo);
	text-align: center;
	margin-top: 5rem;
	font-size: var(--titulo);
	background-color: black;
}
section#descubre p{
	font-size: 1.7rem;
	line-height: 2.4rem;
	margin-top: 5rem;
	text-align: center;
}

.blurtexto{
	backdrop-filter: blur(2px) saturate(100%);
}
.biografia{
	background-color: black;
}
.revan{
	margin-top: 10rem;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
section#historia h2{
	color: var(--amarillo);
	font-size: var(--titulo);
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
	background-color: black;
}
section#historia p{
	font-size: var(--texto);
	line-height: 2.4rem;
}
.historiatext:first-child{
	background-color: black;
}
.rakata{
	width: 50%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.arepublica{
	display: flex;
	justify-content: space-evenly;
}
.arepublica p{
	width: 60%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sithsantiguos{
	display: flex;
	flex-wrap: wrap;
	width: 40%;
}
#revanmalak img{
	width: 90%;
}
#vitiatebane img{
	width: 45%;
}
#vitiatebane{
	display: flex;
}
.guerrasclon{
	display: flex;
	margin-top: 5rem;
}
.guerrasclon p{
	background-color: black;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
}
.arebelde{
	width: 60%;
}





